= simple_form_for ([:admins, @post ]) do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :heading
    = f.text_field :heading
    = f.input :description, input_html: {rel: 'html-editor', rows: 15, :placeholder => "Birşey Yazın ...", :class => 'span12'}
    = f.input :photo
  .actions
    = f.submit 'Save'
